{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">

<style>

h1 {
  margin-top:48px;
  margin-left:59px;
  font-size: 43.5px;
  font-family: 'Sanchez', serif;
  color:#425563;
}

div.fixed1 {
  position: absolute;
  width: 100%;
  margin-top:100px;
  text-align:center
}

div.day {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

</style>
</head>

<body>
    <h1>My Week:</h1>
    <div class="fixed1">
      <img src="static\cal.svg" alt="Calendar">
    </div>
    <div class="day">
      <img src="static\days.svg" alt="Days">
    </div>
</body>
</html>
{% endblock %}


  