{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">

<style>
h1{
  margin-top:108px;
  margin-left: 108px;
  font-size: 35px;
  font-family: 'Sanchez', serif;
  color:#425563;
}
div.fixed1 {
  position: fixed;
  top: 172px;
  left: 490px;
}

div.fixed2 {
    position: fixed;
    top: 364px;
    left: 490px;
}
p {
    font-size: 20px;
    font-family: : 'Sanchez', serif;
    color: #425563; 
}

</style>
</head>

    <h1>Create an account:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</html>
{% endblock %}