{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">

<style>
body {
  font-family: 'Sanchez', serif;
  text-align: center;
  color:#425563;
  font-size: 25px;
  background-color: #F6E4D9;
}
p {
  font-size: 15px;
}
form {
  display: inline block;
}
h1 {
  margin-top:45px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-size: 40px;
 
  color:#425563;
}
</style>
</head>
<body>
<h1>Events:</h1>
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
          {{ form.eventname.label }}<br>
          {{ form.eventname(size=70) }}
      </p>
      <p>
          {{ form.dayofweek.label }}<br>
          {{ form.dayofweek }}
      </p>
      <p>{{ form.shour.label }}<br>
         {{ form.shour }} 
      </p>
      <p>{{ form.smin.label }}<br>
         {{ form.smin }}
      </p>
      <p> {{ form.day1.label }}<br>
          {{ form.day1}}
      </p>
      <p>
          {{ form.ehour.label }}<br>
          {{ form.ehour }}
      </p>
      <p>
          {{ form.emin.label }}<br>
          {{ form.emin }}
      </p>
      <p>
          {{ form.day2.label }}<br>
          {{ form.day2 }}
      </p>

      <p>{{ form.submit() }}</p>
</form>
</body>
</html>
{% endblock %}