{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">

<style>
h1 {
  margin-top:112px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-size: 40px;
  font-family: 'Sanchez', serif;
  color:#425563;
}

div.fixed1 {
  position: fixed;
  top: 239px;
  left: 300px;
}

div.fixed2{
  position: fixed;
  top: 239px;
  right: 300px;
}

</style>
</head>
<body>

<h1>Welcome to Autem!</h1>

<div class="fixed1">
  <a href="{{ url_for('create_account') }}">
    <img src="static\ca.svg" alt="Create Account">
  </a>
</div>

<div class="fixed2">
  <a href="{{ url_for('login') }}">
    <img src="static\si.svg" alt="Sign In">
  </a>
</div>

</body>
</html>
{% endblock %}